h4 {
  text-align: right;
  padding: 20px;
  color:black; 
}

.lista {
  display: grid;
  place-items: center;
  grid-template-columns:  1fr  1fr  1fr 1fr;
  padding: 5px;
  margin: 5px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  
}
.videos { 
  display: grid;
  text-align: center;
  height: 160px;
  align-items: flex-end;
}

p{
  text-align: center;
  padding: 5px;
  color:black;
  width: 280px;
  font-size: 12px;  
}

a{
  text-decoration: none;
}

.videoFull {
  display: grid;
  width: 70vw;
  height: 80vh;
  margin: auto;
}

.boxfull {
  display: flex;
  margin: 0;
  width: 100%;
}

.modal-overlay{
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.7);
  
  position:fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
}

.modal-overlay{
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.7);
  
  position:fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
}

.modal-overlay.active{
  opacity: 1;
  visibility:visible;
}

.modal{
  background:grey;
  box-shadow: 0 0 0.8em cornflowerblue;
  padding: 0.5rem;
  position: relative;
  
}

  /*? Form Modal ===================*/
  #form{
    max-width: 500px; 
}

#form h2{
    margin-top: 0;
}

input{
    border:none;
    border-radius: 0.2rem;

    padding: 0.8rem;

    width: 100%;
}

.input-group{
    margin-top:1rem;
    
}

.help{
    opacity: 0.4; 
}

.input-group.actions{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

/*? Buttons Modal ===================*/

.input-group.actions .button,
.input-group.actions button{
    width: 48%;
}  

button{
  width: 100%;
  height: 50px;

  font-size: 20px;

  border: none;
  color: #fff;
  background: #039767;

  padding:0;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover{
    background: #2D9207; 
}

.button.cancel{
  color:#F84F6B;
  border: 2px solid #F84F6B;
  border-radius: 0.25rem;
  height: 50px;

  display: flex;
  justify-content:center;
  align-items: center;

  opacity: 0.6;
}

.button.cancel:hover{
    opacity: 1;
}